
 <div class='col-8 feed mx-auto'>
  <%= render 'form' %>


 

  <div class='box'> 
     <p class='n-posts'>NUMBER OF</p>
     <hr>
     <% @opinions.each do |opinion| %>
        <div class='row'>
          <div class='square'>
          </div>
          <div class='box2'>
          
          <p><%= opinion.opinion %></p>
          
          <p><%= link_to 'Destroy', opinion, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div> 
     <% end %>
  </div>
 



</div>