<div class='row index'>
  <div>
    <%= render 'menu' %>
  </div>
  
  <div class='marginLeft row'>
    <div class='wid'>
      <nav class="navbar navbar-expand-lg navl  navbar-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse justify-content-end mr-5" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active " href="#"><i class="fa fa-pencil linkNav" aria-hidden="true"></i></a>
            <a class="nav-link text-light" href="#"><i class="fa fa-envelope-o linkNav" aria-hidden="true"></i></a>
            <a class="nav-link text-light" href="#"><i class="fa fa-search linkNav" aria-hidden="true"></i></a>
            <a class="nav-link text-light" href="#"><i class="fa fa-cog  linkNav" aria-hidden="true"></i></a>
            
          </div>
        </div>
      </nav>
      <div class='row'>
        <div class='col-8 feed mx-auto'>
          <%= render 'feed' %>
        </div> 
        <div class='whof col-4'> 
          <%= render 'who_follow' %>
        </div>  
      </div>
    </div>
        
  </div>
  
</div>  
