<div class=''>
  <div class='circle2 mt-2'>
    <img src="<%= @user.photo %>" width='130'>
  </div>
  

  <p class='font-weight-bold titlename mt-2'><%= @user.fullname.upcase %></p>
  <p class='font-weight-bold text-center username-grey'>@<%= @user.username %></p>

  <table>
    
    <tr>
      <th><p class='titlename mt-1 lineh'>546645</p><p class='text-center username-grey'>Opinions</p></th>
      <th><p class='titlename mt-1 lineh'>789</p><p class='text-center username-grey'>Following</p></th>
      <th><p class='titlename mt-1 lineh'>678</p><p class='text-center username-grey'>Followers</p></th>
    </tr>

  </table>
  
  <p class='text-left ml-4 mt-3 writee'>FOLLOWED BY</p>
  <hr>
</div>
