<h2 class='text-center'>Log in</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="pt-2 shadow pb-5 mt-5 container col-lg-4 col-md-5 mb-5">
    <div class="field">
        
      <%= f.text_field :username, autocomplete: "User name" %>
    </div>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  </div>  
<% end %>
<div class='text-center'>
  <a href='/users/sign_up'>Sign up</a>
</div>