@import "bootstrap/scss/bootstrap";

body {
    margin: auto;
    max-width: 1700px;
    min-width: 1500px;
}
.container-fluid {
   
    
}

.colum {
    width: 18%;
    background: rgb(33,50,70);
}

.nav-menu ul {   
    list-style: none;
}

.nav-menu ul li{
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
    color: rgb(85,105,126);
}

.name {
    font-weight: bold;
    font-size: 18px;
    color: rgb(85,105,126);
    line-height: 50px;
}

.nav-menu ul li:hover {
    color:white;
}

.square {
    width:50px;
    height: 50px;
    background: white;
}

.img-header {
    padding:20px;
    background: rgb(27, 44, 63);
}
.follow {
    overflow: hidden;
    margin: auto;
}
.borders {
    border:1px solid rgb(39, 56, 48);
    width: 50%;
    background: rgb(27, 44, 63);
}

.number {
    font-weight: bold;
    font-size: 23px;
    color: rgb(106, 130, 157);
    
}
 .fol {
    
    font-size: 18px;
    color: rgb(85,105,126);
 }

